[Match]
Name=wlan0

[Network]
IPMasquerade=ipv4
ConfigureWithoutCarrier=true
Address=10.0.0.1/24       # <-- Router-IP im WLAN-Netz, nicht .19!
IPForward=yes
DHCPServer=yes

[DHCPServer]
PoolOffset=100
PoolSize=150
DNS=10.0.0.1              # optional: eigenen DNS angeben